[Unit]
Description=Docker container for {{ dockerhub_img }}
After=docker.service
Requires=docker.service

[Service]
User={{ docker_host_username }}
Group={{ docker_host_group }}
Restart=always
RestartSec={{ docker_container_service_restart_timeout }}
ExecStartPre={{ docker_container_start_pre_cmd }}
ExecStart={{ docker_container_start_cmd }}
ExecStop={{ docker_container_stop_cmd }}
Type=simple

[Install]
WantedBy=multi-user.target
